body {
 font-family: 'Lato', sans-serif;
}

li {
  list-style-type: none;
}

#header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  height: 100px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

#header h1 {
  color: white;
  letter-spacing: 4px;
  font-size: 1.73em;
  font-weight 700;
}

#header p {
  color: grey;
}
